<!doctype html>
<html>
<head>
	<title>Find Out the Holidays in Your Birth Month</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Find Out the Holidays in Your Birth Month</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form>
				<div class="form-group">
					<label for="country">Country</label>
					<select name="country" class="form-control">
						<option value=""></option>
						<% %w(BE BR GB US).each do |country| %>
			      	<option value="<%= country %>" <%= 'selected="selected"' if params[:country] == country %>><%= country %></option>
			      <% end %>
					</select>
				</div>
					<div class="form-group">
						<label for="year">Year</label>
						<input name="year" value="<%= params[:year] %>" type="number" class="form-control">
					</div>
					<div class="form-group">
						<label for="month">Month</label>
						<input name="month" value="<%= params[:month] %>" type="number" class="form-control">
					</div>
				  <button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
			</div>
			<div class="col-md-6">
				<% if params['year'] != nil && params['year'] !="" %>
					<% if params['month'] != nil && params['month'] !="" %>
						<% if params['country'] != nil && params['country'] !="" %>
							<h2>Holidays in Your Birth Month</h2>
								<ul>
									<% @holidays_yourbirth.each do |date| %>
										<% date.each do |holiday| %>
										<li><%= holiday['name']%>: <%=holiday['date'] %></li>
										<% end %>
									<% end %>
								</ul>		
						<% else %>
							<p>Please enter a country.</p>
						<% end %>
					<% else %>
						<p>Please enter a month.</p>
					<% end %>
				<% else %>
					<p>Please enter a year.</p>
				<% end %>
			</div>
		</div>
	</div>
</body> 
</html>